{% extends "car_wash_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <img class = "rounded-circle article-img" src = "{{ branch.company.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <h1 class="article-title" >{{ branch.company }}</h1>
      </div>
      <h2 class="article-title" >{{ branch.title }}</h2>
      <p class="article-content">Location: {{ branch.location }}</p>
      <p class="article-content">Mobile Number: {{ branch.company.mobile_number}}</p>
      <p class="article-content">{{ branch.description }}</p>
      {% if branch.image %}
          <img class = "article-img" src = "{{ branch.image.url }}">
      {% endif %}
      <article class="media content-section">
        <div class="media-body">
          {% for car in car_type %}
          <p class="article-content">{{ car.car_type}} | {{ car.washing_cost}} ₾</p>
          {% endfor %}
        </div>
      </article>
    </div>
</article>
{% endblock content%}