{% extends "car_wash_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "content-section">
  <h2>{{employee.full_name}}</h2>
  <p><strong> Number:</strong> {{employee.mobile_number}}</p>
  <p><strong>Fixed salary:</strong> {{employee.salary}}</p>
  {% if employee.manager %}
    <p><strong>Manager in</strong> {{employee.branch}}</p>
  {% else %}
    <p><strong>Employee in {{employee.branch}}</strong></p>
  {% endif %}
</div>
<div class = "content-section">
    <div>
    <form method = "GET" action=".">
      {{order_search_form|crispy}}
      <div class = "form-group">
          <button class = "btn btn-outline-info" type = "submit">Filter</button>
          {% if earned_money and washed_amount %}
            <p><strong>Earned money from orders:</strong>  {{earned_money}} </p>
            <p><strong>Washed amount: </strong>  {{washed_amount}} </p>
          {% endif %}
      </div>
    </form>
    </div>
    {% for order in orders %}
      <p>{{order.car.licence_plate}} | {{order.start_date|date:"F d, Y"}} | {{order.price}}</p>
    {% endfor %}
</div>

{% endblock content%}