{% extends "car_wash_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user == branch.company.company %}
    <div class = "content-section">
    <form method = "POST">
        {% csrf_token %}
        {{employee_register_form|crispy}}
        {{employee_profile_register_form|crispy}}
        <div class = "form-group">
            <button class = "btn btn-outline-info" type = "submit">Create</button>
        </div>
    </form>
    </div>
{% endif %}
<h3>This page is unavailable</h3>
{% endblock content%}