{% extends "car_wash_app/base.html" %}

{% block content %}

  <form method="GET" action=".">
      Search by branch title or company name
      <div class = "form-group">
          <input class = "textinput textInput form-control" id="search_branch" type="text" name="q" value="{{ request.GET.q }}">
          <button class = "btn btn-outline-info" >Search</button>
      </div>
  </form>
  {% for branch in branches %}
  <article class="media content-section">
      <img class = "rounded-circle article-img" src = "{{ branch.company.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <h1>{{ branch.company }}</h1>
        </div>
        <h2><a class="article-title" href="{% url 'branch-detail' branch.id %}">{{ branch.title }}</a></h2>
        <p class="article-content">{{ branch.location }}</p>
        {% if branch.image %}
          <img class = "article-img" src = "{{ branch.image.url }}">
        {% endif %}
      </div>
    </article>
  {% endfor %}

  {% if branches.has_other_pages %}
    <ul class="pagination">
      {% if branches.has_previous %}
        <li><a href="?page={{ branches.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in branches.paginator.page_range %}
        {% if branches.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if branches.has_next %}
        <li><a href="?page={{ branches.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock content%}