{% extends "car_wash_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{user.companyprofile.image.url}}">
      <div class="media-body">
        {% if user.company.name %}
          <h2 class="account-heading">{{ user.copany.name }}</h2>
        {% endif %}
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method = "POST", enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class = "form-group">
          <legend class = "border-bottom mb-4"> Profile Info</legend>
          {{user_update_form|crispy}}
          {{profile_update_form|crispy}}
      </fieldset>
      <div class = "form-group">
          <button class = "btn btn-outline-info" type = "submit"> Update </button>
      </div>
    </form>
  </div>
  <div>
    {% for branch in user.company.branch %}
      <h3>{{branch.title}}</h3>
      <p>{{branch.location}}</p>
    {% endfor %}
  </div>

{% endblock content%}